<html>

<head>
</head>

<body>
	<h1>
		<h1>A-Z Programme Listing</h1>
	</h1>
	<div>
		<ul>
			<% listings.atoz_programmes.elements.forEach(function(lisiting) { %>
				<li>
					<figure>
						<img src=<%= (lisiting.images.standard).replace("{recipe}", "560x315"); %> alt="">
						<figcaption>
							<%= lisiting.title %>
						</figcaption>
					</figure>
				</li>
			<% }); %>
		</ul>
	</div>
</body>

</html>