<html>

<head>
</head>

<body>
	<h1>
		<h1>A-Z Programme Listing</h1>
	</h1>

	<div id="letter-navigation">
		<%- include('letter-nav', { character: listings.atoz_programmes.character }); %>
	</div>

	<div>
		<ol class="listing">
			<% listings.atoz_programmes.elements.forEach(function(lisiting) { %>
				<li>
					<figure>
						<img src=<%= (lisiting.images.standard).replace("{recipe}", "560x315"); %> alt="">
						<figcaption>
							<%= lisiting.title %>
						</figcaption>
					</figure>
				</li>
			<% }); %>
		</ol>
	</div>

	<div id="pagination-navigation">
		<%- include('pagination', { character: listings.atoz_programmes.character, count: listings.atoz_programmes.count, per_page: listings.atoz_programmes.per_page, page: listings.atoz_programmes.page }); %>
	</div>
</body>

</html>